.statusBar {
  background-color: #000000;
  padding: 20px;
  height: 62px;
  img {
    margin-right: 10px;
  }
  .logo {
    width: 104px;
  }
  .icon {
    width: 24px;
  }
  .title {
    width: 147px;
  }
}
