@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Gmarket Sans Bold"), local("GmarketSans-Bold"),
    url("http://script.ebay.co.kr/fonts/GmarketSansBold.woff2") format("woff2"),
    url("http://script.ebay.co.kr/fonts/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Gmarket Sans Medium"), local("GmarketSans-Medium"),
    url("http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2")
      format("woff2"),
    url("http://script.ebay.co.kr/fonts/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: "Gmarket Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Gmarket Sans Light"), local("GmarketSans-Light"),
    url("http://script.ebay.co.kr/fonts/GmarketSansLight.woff2") format("woff2"),
    url("http://script.ebay.co.kr/fonts/GmarketSansLight.woff") format("woff");
}

$PrimaryColor: rgb(127, 124, 20);

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0 auto;
  font-family: "Gmarket Sans";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: white;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}
