.quizReward {
  background-color: #ffffff;
  width: 1720px;
  height: 240px;
  margin: 0 auto 92px auto;
  padding: 22px 60px;

  display: flex;
  align-items: center;

  .title {
    flex-basis: 20%;
    font-weight: bold;

    span {
      color: #ffd344;
      font-size: 36px;
    }
    div {
      font-size: 50px;
      margin-top: 10px;
    }
  }

  .rewardContents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 46px;
    .content {
      display: flex;
      margin-bottom: 20px;
      img {
        margin-right: 10px;
        width: 60px;
      }
    }
  }
}
