.waitingStatement {
  position: relative;
  width: 1040px;
  height: 140px;
  background-color: white;
  margin: 30px auto 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px #ffd344;
  color: #ffd344;
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}
