.userInfoContainer {
  background: url("../../../../src/imgs/background2x.png") center/cover
    no-repeat;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
}
